@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
    font-family: 'Roboto Mono', sans-serif;
    color: #310d0d;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
}

body {
    background-image: url('leone-venter-unsplash.jpg');
    background-size: cover;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.article-header {
    text-align: center;
}

.project {
    max-width: 460px;
    border: 2px solid #c8c8c6;
    border-radius: 8px;
    margin: 10px;
}

.project .info {
    padding: 0 20px;
    text-align: justify;
    min-height: 120px;
}

.project .technology {
    text-align: center;
}

span {
    font-size: 30px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    padding: 5px 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

button {
    width: 130px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 20px;
}

.live-link {
    color: #0062b9;
    border: 2px solid #0062b9;
}

.live-link:hover {
    background-color: #0062b9;
    ;
    color: #fff;
}

.code-link:hover {
    background-color: #000;
    color: #fff;
}

footer p {
    text-align: center;
}