main {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.container img {
    width: 20rem;
    margin-top: 3rem;
}

p {
    font-size: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.nav {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
